@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

html::-webkit-scrollbar,textarea::-webkit-scrollbar{
  width: 5px;
}

html::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #4285F4;
}

textarea::-webkit-scrollbar-thumb{
  background-color: #D8D8D8;
}

.App {
  text-align: center;
  background-image:url('https://previews.123rf.com/images/leungchopan/leungchopan1506/leungchopan150600626/41731819-cork-board-background.jpg');
  background-size:cover;
  min-height:100vh;
}

.App-header {
  background-color: #282c34;
  padding:30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-size:60px;
  font-family: 'Righteous', cursive;
  font-weight:700;
}

.text-centered{
  text-align:center;
}

.idea-list{
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}

.idea{
  position: relative;
  flex: 1;
  height: 150px;
  min-width: 150px;
  max-width: 150px;
  text-align:left;
  margin:10px;
  background-color:yellow;
}

.idea:hover .delete{
  opacity: 1;
}

.date{
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 11px;
  font-style: italic;
}

input,textarea{
  margin: 10px;
  outline:none;
  background-color: transparent;
}

textarea{
  margin-left: 7px;
}

input{
  position: relative;
  top: 15px;
  width: 80%;
  border: 0;
  font-weight: 700;
}

input:focus{
  border:1px solid #d3d3d3;
}

textarea{
  width: 80%;
  height: 50%;
  border: 0;
  padding-right: 5px;
  background-color: transparent;
  resize: none;
}

textarea:focus{
  border:1px solid #d3d3d3;
}
#toast{
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 50px;
  border-radius: 0 0 10px 10px;
  transition: 2s top;
}

#toast.show{
  top:0;
}

.delete{
  position: absolute;
  top: 0px;
  right: 10px;
  color: red;
  cursor: pointer;
  opacity: 0;
  transition: 1s opacity;
}

.char-count{
  font-size:12px;
  font-style: italic;
  position: absolute;
  left: 10px;
  bottom: 2px; 
}

.add-button{
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 0 40px;
    cursor: pointer;
    flex: 1;
    background-color:transparent;
    /* color: white; */
    background-color:white;
    transition: 1s background-color, 1s color;
    border-radius:10px;
    /* height: 55px; */
    min-width: 50px;
    max-width: 125px;
    margin: 55px 10px 10px 10px;
}

.add-button:hover{
  background-color:#d3d3d3;
  /* color: black; */
}

.sort{
  position: absolute;
  left: 10px;
  top:  175px;
}

.sort > span{
  font-weight: 700;
  color:white;
}
